@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    font-family: 'Playfair Display', serif;
    background-color: rgba(225, 223, 214, 0.618);
}

header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    position: fixed;
    top: 0;
    background-color: white;
    height: 70px;
    display: inline-flex;
    justify-content: space-between;
}

header #about {
    color: black;
    float: left;
}

header #logo{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

header #logo a {
    font-size: 40px;
    letter-spacing: 4px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    pointer-events: all;
}

header #about a {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    line-height: 60px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.706);
    margin-left: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}
header #about a:hover {
    color: black;
}

header #signin a {
    float: right;
    margin: 12px 30px 0px 0px;
    font-size: 15px;
    border-color: rgba(0, 0, 0, 0.706);
    background-color: white;
    padding: 7px 15px;
    border-style: double;
    text-decoration: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.645);
}
header #signin a:hover {
    border-color: black;
    cursor: pointer;
    color: black;
}

@media (min-width: 801px) {
    #about a{
        float:left;
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    header #about a{
        margin-top: 15px;
        margin-left: 10px;
        font-size: 11px;
    }
}
