*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signin-form-container {
    margin-top: 100px;
    text-align: center;
}
.form-field{
    padding: 5px;
    width: ;
}
.form-buttons{
    padding: 10px;
}
.button{
    width: 150px;
    height: 25px;
    color: white;
    font-size: 15px;
    background-color: rgba(62, 62, 62, 0.926);
    margin: 20px;
}
.input{
    width: 200px;
}